In [2]:
import numpy as np
import pandas as pd


from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
df = pd.read_csv("/Users/manumitha/Desktop/UNT/ML/train.csv")

In [4]:
# filling empty rows under 'Item_Weight' column with their mean value
df['Item_Weight'].fillna(df['Item_Weight'].mean(), inplace=True)

In [5]:
# filling empty rows under 'Outlet_Size' column with their mean value
df['Outlet_Size'].fillna(df['Outlet_Size'].mode(), inplace=True)

In [14]:
df.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,156,9.30,0.016047,4,249.8092,9,1999,3735.1380,0,1,...,0,1,0,1,0,0,0,1,0,0
1,8,5.92,0.019278,14,48.2692,3,2009,443.4228,0,0,...,0,1,0,0,0,1,0,0,1,0
2,662,17.50,0.016760,10,141.6180,9,1999,2097.2700,0,1,...,0,1,0,1,0,0,0,1,0,0
3,1121,19.20,0.000000,6,182.0950,0,1998,732.3800,0,0,...,0,0,0,0,0,1,1,0,0,0
4,1297,8.93,0.000000,9,53.8614,1,1987,994.7052,0,1,...,1,0,0,0,0,1,0,1,0,0

In [7]:
en=LabelEncoder()
df['Item_Identifier']=en.fit_transform(df['Item_Identifier'])
df['Item_Type']=en.fit_transform(df['Item_Type'])
df['Outlet_Identifier']=en.fit_transform(df['Outlet_Identifier'])

In [8]:
df = pd.get_dummies(df, columns = ['Item_Fat_Content', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'])
print(df)

      Item_Identifier  Item_Weight  Item_Visibility  Item_Type  Item_MRP  \
0                 156        9.300         0.016047          4  249.8092
1                   8        5.920         0.019278         14   48.2692
2                 662       17.500         0.016760         10  141.6180
3                1121       19.200         0.000000          6  182.0950
4                1297        8.930         0.000000          9   53.8614
...               ...          ...              ...        ...       ...
8518              370        6.865         0.056783         13  214.5218
8519              897        8.380         0.046982          0  108.1570
8520             1357       10.600         0.035186          8   85.1224
8521              681        7.210         0.145221         13  103.1332
8522               50       14.800         0.044878         14   75.4670

      Outlet_Identifier  Outlet_Establishment_Year  Item_Outlet_Sales  \
0                     9                       1999          3735.1380
1                     3                       2009           443.4228
2                     9                       1999          2097.2700
3                     0                       1998           732.3800
4                     1                       1987           994.7052
...                 ...                        ...                ...
8518                  1                       1987          2778.3834
8519                  7                       2002           549.2850
8520                  6                       2004          1193.1136
8521                  3                       2009          1845.5976
8522                  8                       1997           765.6700

      Item_Fat_Content_LF  Item_Fat_Content_Low Fat  ...  Outlet_Size_High  \
0                       0                         1  ...                 0
1                       0                         0  ...                 0
2                       0                         1  ...                 0
3                       0                         0  ...                 0
4                       0                         1  ...                 1
...                   ...                       ...  ...               ...
8518                    0                         1  ...                 1
8519                    0                         0  ...                 0
8520                    0                         1  ...                 0
8521                    0                         0  ...                 0
8522                    0                         1  ...                 0

      Outlet_Size_Medium  Outlet_Size_Small  Outlet_Location_Type_Tier 1  \
0                      1                  0                            1
1                      1                  0                            0
2                      1                  0                            1
3                      0                  0                            0
4                      0                  0                            0
...                  ...                ...                          ...
8518                   0                  0                            0
8519                   0                  0                            0
8520                   0                  1                            0
8521                   1                  0                            0
8522                   0                  1                            1

      Outlet_Location_Type_Tier 2  Outlet_Location_Type_Tier 3  \
0                               0                            0
1                               0                            1
2                               0                            0
3                               0                            1
4                               0                            1
...                           ...                          ...
8518                            0                            1
8519                            1                            0
8520                            1                            0
8521                            0                            1
8522                            0                            0

      Outlet_Type_Grocery Store  Outlet_Type_Supermarket Type1  \
0                             0                              1
1                             0                              0
2                             0                              1
3                             1                              0
4                             0                              1
...                         ...                            ...
8518                          0                              1
8519                          0                              1
8520                          0                              1
8521                          0                              0
8522                          0                              1

      Outlet_Type_Supermarket Type2  Outlet_Type_Supermarket Type3
0                                 0                              0
1                                 1                              0
2                                 0                              0
3                                 0                              0
4                                 0                              0
...                             ...                            ...
8518                              0                              0
8519                              0                              0
8520                              0                              0
8521                              1                              0
8522                              0                              0

[8523 rows x 23 columns]

In [9]:
X = df.drop(columns=[ 'Item_Outlet_Sales']) 
y = df['Item_Outlet_Sales']

In [10]:
# Linear Regression model as Baseline model
# Evaluation metrices used are RMSE, R Square
X_train, X_valid, y_train, y_valid= train_test_split(X,y,test_size=0.3, random_state=42) 
model1=LinearRegression()
model1.fit(X_train, y_train)
y_pred=model1.predict(X_valid) 
rmse=np.sqrt(mean_squared_error(y_pred,y_valid)) 
r2=r2_score(y_pred,y_valid)
print("RMSE Score : ", rmse)
print("R2 Square score : ", r2)

RMSE Score :  1098.1373545341555
R2 Square score :  0.3000819766827828

In [12]:
df['Item_Outlet_Sales'].mean()

2181.288913575032

In [15]:
df['Item_Outlet_Sales'].median()

1794.331

In [37]:
test_set=pd.read_csv("/Users/manumitha/Desktop/UNT/ML/test.csv")
test_set

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3
...,...,...,...,...,...,...,...,...,...,...,...
5676,FDB58,10.500,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.600,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.000,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.300,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.500,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [ ]:
# The above cell represents the test set data.
# Linear regression model is developed initially as the baseline model and mean, median are calculated.
# Further models for Ridge regression, Lasso regression, Support 
# Vector Machine will be developed and evaluated based on the RMSE and 
# R Square scores. Finally, after training of all the models are done, I shall proceed to 
# test the models on test dataset.